/* Changes to font to more common fonts on the users device.*/
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    color: white;
}
.link--underline {
    text-decoration: none;

}

/*header {
    background-color: rgba(0,0,0,.95);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}*/

section nav {
    color: azure;
}

.display nav {
    
    background-color: rgb(158, 224, 233);
    font-size: xx-large;
    display: inline;
    padding: 10px;
    height: 40px;
}