html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 1px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

#logo-stars {
	width: 125px;
}

.logo {
	background-color: orange;
}

header {
	background-color: black;
	padding: 10px;
}

nav ul  {
	display: flex;
	flex-direction: column;
	text-align: center;
}

nav ul li:hover {
	background-color: orange;
}

a {
	text-decoration: none;
	color: orange;
}

nav ul li a:hover {
	color: black;
}

.home {
	color: black;
	background-color: orange;
}



/* 
	navigation:
		- logo section: margin
		- all li's: padding
		- first li: background-color, [there's a hover style: background-color]

	welcome section:
		- parent container: background-image, height
		- transparent section: background-color, opacity, padding
		- button: padding, background-color, color
*/

.search {
	color: orange;
}
 
.banner {
	background-image: url(../images/main-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* height: 600px; */
	padding: 200px 0;
}

.welcome-content {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 95px 25px;

	/* padding: top&bottom left&right */
}

h2 {
	font-size: 50px;
	font-weight: bold;
	line-height: 80px;
}
h3 {
	font-size: 40px;
	font-weight: bold;
	line-height: 70px;
}

.welcome-content button {
	background-color: orange;
	font-size: 35px;
	padding: 20px;
	border: none;
	margin-top: 20px;
}

.welcome-content button:hover {
	background-color: black;
	color: white;
}

.about-us {
	background-color: #ffe6ac;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.our-services-image {
	background-color: white;
}

.our-services {
	background-color: #ffe6ac;
	font-style: bold;
	color: black;

}

.our-services button {
	background-color: black;
	font-size: 35px;
	color: white;
	padding: 20px;
	border: none;
	margin-top: 20px;
}

.our-services button:hover {
	background-color: orange;
	color: white;
}

.marketing-image {
	background-color: white;
}

.marketing {
	background-color: #ffe6ac;
	font-style: bold;
	color: black;
}

.marketing button {
	background-color: black;
	font-size: 35px;
	color: white;
	padding: 20px;
	border: none;
	margin-top: 20px;
}

.marketing button:hover {
	background-color: orange;
	color: white;
}

.video-image {
	background-color: white;
}

.video {
	background-color: #ffe6ac;
	font-style: bold;
	color: black;
}

.video button {
	background-color: black;
	font-size: 35px;
	color: white;
	padding: 20px;
	border: none;
	margin-top: 20px;
}

.video button:hover {
	background-color: orange;
	color: white;
}

.web-image {
	background-color: white;
}

.web {
	background-color: #ffe6ac;
	font-style: bold;
	color: black;
}

.web button {
	background-color: black;
	font-size: 35px;
	color: white;
	padding: 20px;
	border: none;
	margin-top: 20px;
}

.web button:hover {
	background-color: orange;
	color: white;
}

.print-image {
	background-color: white;
}

.print {
	background-color: #ffe6ac;
	font-style: bold;
	color: black;
}

.print button {
	background-color: black;
	font-size: 35px;
	color: white;
	padding: 20px;
	border: none;
	margin-top: 20px;
}

.print button:hover {
	background-color: orange;
	color: white;
}

.vision {
	background-image: url(../images/vision.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 200 0;
}

.vision-content {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 95px 25px;
}
/* Services */

/* 
1. one parent div 
2. multiple child divs that contains info for each service

apply grid,
mobile - 1 column
desktop - positioning by line or span
.wrapper div:nth-child(1) {
    background-color: coral;
    grid-area: d1;
}
<div class="wrapper">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
    </div>
*/

/* Our Team */
/* 
Grid or Flex
 */